[submodule "data-prepro/MSCOCO_preprocess/neuraltalk2"]
	path = data-prepro/MSCOCO_preprocess/neuraltalk2
	url = git@github.com:karpathy/neuraltalk2.git
[submodule "data-prepro/MSCOCO_preprocess/deep-residual-networks"]
	path = data-prepro/MSCOCO_preprocess/deep-residual-networks
	url = git@github.com:KaimingHe/deep-residual-networks.git
[submodule "show-adapt-tell/coco-caption"]
	path = show-adapt-tell/coco-caption
	url = git@github.com:peteanderson80/coco-caption.git
